block config
    
doctype html

html(lang=__.lang, class="no-js")
    head
        block head
            include head

            block styles
                link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
    body.body(class=bodyClass)
        .page-wrapper
            include mixins/svgsprite
            
            block header
                include blocks/header
    
            .rk-content
                block content
            
            include blocks/footer
                
            .hidden
                // include popups here

        block scripts
            include scripts
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                    /*
                    scrollToOffset: 150, // оффсет при скролле до элемента
                    scrollToSpeed: 500, // скорость скролла
                    */
                }
