block config
    
doctype html

html(lang=__.lang, class="no-js")
    head
        block head
            include head

            block styles
                link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
                link(rel="preconnect" href="https://fonts.googleapis.com")
                link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
                link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
            block scripts
                include scripts
    body.body(class=bodyClass)
        .page-wrapper
            include mixins/svgsprite
            
            block header
                include blocks/header
    
            .rk-content
                block content
            
        
            .hidden
                // include popups here

      
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                    /*
                    scrollToOffset: 150, // оффсет при скролле до элемента
                    scrollToSpeed: 500, // скорость скролла
                    */
                }
