block config

doctype html
html(lang=__.lang, class="no-js")
    head
        block head
            include head

            block styles
                link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
    body.body(class=bodyClass)
        include mixins/svgsprite
        
        block header
            include blocks/header

        .content
            block content

        
        .hidden
            // include popups here
        
        include blocks/footer

        block scripts
            include scripts
        block scripts-config
            script.
                // feather.replace()
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                    /*
                    scrollToOffset: 150, // оффсет при скролле до элемента
                    scrollToSpeed: 500, // скорость скролла
                    */
                }
