extends _includes/layout
block content
    .container
        .row
            .col-lg-6(data-sticky-container)
                .rk-prod#sticky-prev(data-aos="fade-right")
                    .rk-prod__img
                        img(src="assets/img/mocup.png")


    .container-fluid












