extends _includes/layout

block config
    - var pagetitle = 'Index'
    - var bodyClass = 'dev'
        
block header
    

block content
    .container.mt-5
        .row
            .col-md-6.offset-md-3
                ul.list-group
                    li.list-group-item
                        a(href="home.html") Home page
                    
