.rightBlock
    video(width="100%", height="300" controls autoplay).video
        source(src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4")
        | Your browser does not support the video tag.
    .week
        img(src="assets/img/waveOne.png").wave
        img(src="assets/img/waveTwo.png").wave
        .content
            .content-day
                .current-weather
                    | <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M25.996 44H21.996V38H25.996V44ZM36.724 39.556L32.482 35.314L35.31 32.486L39.554 36.73L36.728 39.556H36.724ZM11.268 39.556L8.438 36.728L12.678 32.484L15.508 35.312L11.268 39.554V39.556ZM23.996 34.014C18.4659 34.0118 13.9845 29.5274 13.986 23.9973C13.9875 18.4673 18.4713 13.9853 24.0013 13.986C29.5314 13.9867 34.014 18.4699 34.014 24C34.0085 29.5299 29.5259 34.0107 23.996 34.014ZM23.996 17.986C20.6751 17.9882 17.9845 20.6817 17.986 24.0027C17.9875 27.3236 20.6804 30.0147 24.0013 30.014C27.3223 30.0133 30.014 27.3209 30.014 24C30.0107 20.6784 27.3176 17.9871 23.996 17.986ZM43.996 26H37.996V22H43.996V26ZM9.996 26H3.996V22H9.996V26ZM35.308 15.516L32.482 12.686L36.724 8.442L39.554 11.272L35.31 15.514L35.308 15.516ZM12.682 15.516L8.442 11.274L11.272 8.446L15.512 12.69L12.684 15.514L12.682 15.516ZM25.996 10H21.996V4H25.996V10Z" fill="white"/>
                    | </svg>
                    | Sunny
                .current-day 31 <span>&deg;</span>
            .current-time
                .time 09:35
                .date Wednesday | Sep 09
                .location Tashkent
        .forecast
            .forecast-item
                .icon
                    | <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M25.996 44H21.996V38H25.996V44ZM36.724 39.556L32.482 35.314L35.31 32.486L39.554 36.73L36.728 39.556H36.724ZM11.268 39.556L8.438 36.728L12.678 32.484L15.508 35.312L11.268 39.554V39.556ZM23.996 34.014C18.4659 34.0118 13.9845 29.5274 13.986 23.9973C13.9875 18.4673 18.4713 13.9853 24.0013 13.986C29.5314 13.9867 34.014 18.4699 34.014 24C34.0085 29.5299 29.5259 34.0107 23.996 34.014ZM23.996 17.986C20.6751 17.9882 17.9845 20.6817 17.986 24.0027C17.9875 27.3236 20.6804 30.0147 24.0013 30.014C27.3223 30.0133 30.014 27.3209 30.014 24C30.0107 20.6784 27.3176 17.9871 23.996 17.986ZM43.996 26H37.996V22H43.996V26ZM9.996 26H3.996V22H9.996V26ZM35.308 15.516L32.482 12.686L36.724 8.442L39.554 11.272L35.31 15.514L35.308 15.516ZM12.682 15.516L8.442 11.274L11.272 8.446L15.512 12.69L12.684 15.514L12.682 15.516ZM25.996 10H21.996V4H25.996V10Z" fill="white"/>
                    | </svg>
                .temperature 33° / 18°
                .forecast-day Thursday 10
            .forecast-item
                .icon
                    | <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M25.996 44H21.996V38H25.996V44ZM36.724 39.556L32.482 35.314L35.31 32.486L39.554 36.73L36.728 39.556H36.724ZM11.268 39.556L8.438 36.728L12.678 32.484L15.508 35.312L11.268 39.554V39.556ZM23.996 34.014C18.4659 34.0118 13.9845 29.5274 13.986 23.9973C13.9875 18.4673 18.4713 13.9853 24.0013 13.986C29.5314 13.9867 34.014 18.4699 34.014 24C34.0085 29.5299 29.5259 34.0107 23.996 34.014ZM23.996 17.986C20.6751 17.9882 17.9845 20.6817 17.986 24.0027C17.9875 27.3236 20.6804 30.0147 24.0013 30.014C27.3223 30.0133 30.014 27.3209 30.014 24C30.0107 20.6784 27.3176 17.9871 23.996 17.986ZM43.996 26H37.996V22H43.996V26ZM9.996 26H3.996V22H9.996V26ZM35.308 15.516L32.482 12.686L36.724 8.442L39.554 11.272L35.31 15.514L35.308 15.516ZM12.682 15.516L8.442 11.274L11.272 8.446L15.512 12.69L12.684 15.514L12.682 15.516ZM25.996 10H21.996V4H25.996V10Z" fill="white"/>
                    | </svg>
                .temperature 33° / 18°
                .forecast-day Friday 11
            .forecast-item
                .icon
                    | <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M25.996 44H21.996V38H25.996V44ZM36.724 39.556L32.482 35.314L35.31 32.486L39.554 36.73L36.728 39.556H36.724ZM11.268 39.556L8.438 36.728L12.678 32.484L15.508 35.312L11.268 39.554V39.556ZM23.996 34.014C18.4659 34.0118 13.9845 29.5274 13.986 23.9973C13.9875 18.4673 18.4713 13.9853 24.0013 13.986C29.5314 13.9867 34.014 18.4699 34.014 24C34.0085 29.5299 29.5259 34.0107 23.996 34.014ZM23.996 17.986C20.6751 17.9882 17.9845 20.6817 17.986 24.0027C17.9875 27.3236 20.6804 30.0147 24.0013 30.014C27.3223 30.0133 30.014 27.3209 30.014 24C30.0107 20.6784 27.3176 17.9871 23.996 17.986ZM43.996 26H37.996V22H43.996V26ZM9.996 26H3.996V22H9.996V26ZM35.308 15.516L32.482 12.686L36.724 8.442L39.554 11.272L35.31 15.514L35.308 15.516ZM12.682 15.516L8.442 11.274L11.272 8.446L15.512 12.69L12.684 15.514L12.682 15.516ZM25.996 10H21.996V4H25.996V10Z" fill="white"/>
                    | </svg>
                .temperature 33° / 18°
                .forecast-day Saturday 12
            .forecast-item
                .icon
                    | <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M25.996 44H21.996V38H25.996V44ZM36.724 39.556L32.482 35.314L35.31 32.486L39.554 36.73L36.728 39.556H36.724ZM11.268 39.556L8.438 36.728L12.678 32.484L15.508 35.312L11.268 39.554V39.556ZM23.996 34.014C18.4659 34.0118 13.9845 29.5274 13.986 23.9973C13.9875 18.4673 18.4713 13.9853 24.0013 13.986C29.5314 13.9867 34.014 18.4699 34.014 24C34.0085 29.5299 29.5259 34.0107 23.996 34.014ZM23.996 17.986C20.6751 17.9882 17.9845 20.6817 17.986 24.0027C17.9875 27.3236 20.6804 30.0147 24.0013 30.014C27.3223 30.0133 30.014 27.3209 30.014 24C30.0107 20.6784 27.3176 17.9871 23.996 17.986ZM43.996 26H37.996V22H43.996V26ZM9.996 26H3.996V22H9.996V26ZM35.308 15.516L32.482 12.686L36.724 8.442L39.554 11.272L35.31 15.514L35.308 15.516ZM12.682 15.516L8.442 11.274L11.272 8.446L15.512 12.69L12.684 15.514L12.682 15.516ZM25.996 10H21.996V4H25.996V10Z" fill="white"/>
                    | </svg>
                .temperature 33° / 18°
                .forecast-day Sunday 13
            .forecast-item
                .icon
                    | <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M25.996 44H21.996V38H25.996V44ZM36.724 39.556L32.482 35.314L35.31 32.486L39.554 36.73L36.728 39.556H36.724ZM11.268 39.556L8.438 36.728L12.678 32.484L15.508 35.312L11.268 39.554V39.556ZM23.996 34.014C18.4659 34.0118 13.9845 29.5274 13.986 23.9973C13.9875 18.4673 18.4713 13.9853 24.0013 13.986C29.5314 13.9867 34.014 18.4699 34.014 24C34.0085 29.5299 29.5259 34.0107 23.996 34.014ZM23.996 17.986C20.6751 17.9882 17.9845 20.6817 17.986 24.0027C17.9875 27.3236 20.6804 30.0147 24.0013 30.014C27.3223 30.0133 30.014 27.3209 30.014 24C30.0107 20.6784 27.3176 17.9871 23.996 17.986ZM43.996 26H37.996V22H43.996V26ZM9.996 26H3.996V22H9.996V26ZM35.308 15.516L32.482 12.686L36.724 8.442L39.554 11.272L35.31 15.514L35.308 15.516ZM12.682 15.516L8.442 11.274L11.272 8.446L15.512 12.69L12.684 15.514L12.682 15.516ZM25.996 10H21.996V4H25.996V10Z" fill="white"/>
                    | </svg>
                .temperature 33° / 18°
                .forecast-day Monday 14
            .forecast-item
                .icon
                    | <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M25.996 44H21.996V38H25.996V44ZM36.724 39.556L32.482 35.314L35.31 32.486L39.554 36.73L36.728 39.556H36.724ZM11.268 39.556L8.438 36.728L12.678 32.484L15.508 35.312L11.268 39.554V39.556ZM23.996 34.014C18.4659 34.0118 13.9845 29.5274 13.986 23.9973C13.9875 18.4673 18.4713 13.9853 24.0013 13.986C29.5314 13.9867 34.014 18.4699 34.014 24C34.0085 29.5299 29.5259 34.0107 23.996 34.014ZM23.996 17.986C20.6751 17.9882 17.9845 20.6817 17.986 24.0027C17.9875 27.3236 20.6804 30.0147 24.0013 30.014C27.3223 30.0133 30.014 27.3209 30.014 24C30.0107 20.6784 27.3176 17.9871 23.996 17.986ZM43.996 26H37.996V22H43.996V26ZM9.996 26H3.996V22H9.996V26ZM35.308 15.516L32.482 12.686L36.724 8.442L39.554 11.272L35.31 15.514L35.308 15.516ZM12.682 15.516L8.442 11.274L11.272 8.446L15.512 12.69L12.684 15.514L12.682 15.516ZM25.996 10H21.996V4H25.996V10Z" fill="white"/>
                    | </svg>
                .temperature 33° / 18°
                .forecast-day Tuesday 15      
