
/* Fonts */

$font-family : 'Helvetica Neue', sans-serif;
$font-family-alt : sans-serif;
$font-family-fontello: "fontello";
$font-size : 1rem;
$font-weight : normal;
$letter-spacing : normal;
$line-height : 1.2;


:root{

}


// Theme style
$success: #40C269;

$theme-colors: (
    "primary": #F68721,
    "success": #0D9E00,
    "secondary": #F0F0F0
);
